<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styleAbout.css">
    <title>Quiz Musical</title>
</head>
<body>
    <header class="cabecalho">
        <div class="logo">Music Quiz</div>
        <div class="hamburger">
            <div class="linha"></div>
            <div class="linha"></div>
            <div class="linha"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li>
                    <a href="home.html">Home</a>
                </li>
                <li>
                    <a href="" class="active">About Us</a>
                </li>
                <li>
                    <a href="ranking.html">Ranking</a>
                </li>
                <li>
                    <a href="login.html">Login</a>
                </li>
                <li>
                    <a href="signUp.html">Sign Up</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="container">    
        <section class="container__conteudo">
            <h1> Quem somos nós?</h1>     
            <p> Olá! Somos Felipe, Vinicius e Ligia, estudantes de Engenharia de Software na Universidade Federal de Mato Grosso do Sul,
                e estamos desenvolvendo este projeto para a matéria de Programação pra Web mestrada pelo nosso professor Ricardo Kondo
            </p>
        </section>

        <img class="container__img" src="./assets/about.png" alt="aboutimg">
    </main>
    

    <script src="script.js"></script>
</body>
</html>