<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styleEsqueciSenha.css">
    <title>Quiz Musical</title>
</head>
<body>
    <header class="cabecalho">
        <div class="logo">Music Quiz</div>
        <div class="hamburger">
            <div class="linha"></div>
            <div class="linha"></div>
            <div class="linha"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="about.html">About Us</a>
                </li>
                <li>
                    <a href="">Ranking</a>
                </li>
                <li>
                    <a href="login.html">Login</a>
                </li>
                <li>
                    <a href="signUp.html">Sign Up</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <section class="container__texto">
            <p>Caso tenha esquecido sua senha, digite o e-mail utilizado durante a criação da sua conta no campo abaixo para redefinir sua senha:</p>
            <input class="container__texto__campo" type="text" name="esqueciSenha" id="esqueciSenha">
            <button class="container__texto__botao">Enviar</button>
        </section>
    </main>
</body>
</html>