<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styleRanking.css">
    <title>Quiz Musical</title>
</head>
<body>
    <header class="cabecalho">
        <div class="logo">Music Quiz</div>
        <div class="hamburger">
            <div class="linha"></div>
            <div class="linha"></div>
            <div class="linha"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li>
                    <a href="home.html">Home</a>
                </li>
                <li>
                    <a href="about.html">About Us</a>
                </li>
                <li>
                    <a href="" class="active">Ranking</a>
                </li>
                <li>
                    <a href="login.html">Login</a>
                </li>
                <li>
                    <a href="signUp.html">Sign Up</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="container">

        <h1>Placar de Lideres</h1>

        <section class="container__tabela">
            <table>
                <tr>
                  <th>Nome</th>
                  <th>Pontuação</th>
                </tr>
                <tr>
                  <td>Jogador 1</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td>Jogador 2</td>
                  <td>8</td>
                </tr>
                <tr>
                  <td>Jogador 3</td>
                  <td>6</td>
                </tr>
                <tr>
                  <td>Jogador 4</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>Jogador 5</td>
                  <td>2</td>
                </tr>
              </table>
        </section>
    </main>
    <script src="script.js"></script>
</body>
</html>